<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>怡家小厨主页</title>
    <link rel="stylesheet" href="/static/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/now_user.css">
    <script src="/static/js/jQuery3.4.1.js"></script>
    <script src="/static/bootstrap3/js/bootstrap.js"></script>
    <script src="/static/js/settings.js"></script>
</head>
<body>
<div>
    <div id="top" class="container-fluid">
        <div class="row nav bg-primary">
            <div class="col-xs-6 nav-left my-btn">
                <div id="user">
                    <a id="index" style="color: gold" href="now_user" class="select2 btn btn-primary btn-lg"
                       type="button"
                       data-toggle="collapse"
                       data-target="#collapseExample" aria-expanded="false"
                       aria-controls="collapseExample"><span class="glyphicon glyphicon-home"></span>
                    </a>
                    <a role="button" href="now_cart" id="cart" class="select2 btn btn-primary btn-lg" type="button"
                       data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                       aria-controls="collapseExample">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        <span id="green_number">
<!--                            购物车菜品数量-->
                        </span>
                    </a>
                    <a href="now_order" class="select2 btn btn-primary  btn-lg" type="button" data-toggle="collapse"
                       data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <span id="order_number">
    <!--                            订单数量-->
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xs-1 nav-center">
                <span id="desk" class="select3">null</span>
            </div>
            <div class="col-xs-5 nav-right">
                <button type="button" id="nav-cp" class="select btn btn-primary">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">菜品类别</h4>
                            </div>
                            <div class="modal-body">
                                <!--                                菜品类别信息-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bottom">
    <div class="container-fluid">
        <div class="row p"></div>
        <div class="row" id="nrcp">
        </div>
        <div class="row">
            <hr>
            <div class="col-md-12 my_div"><h5 class="my_title"><span class="glyphicon glyphicon-copyright-mark"></span>怡家小厨
            </h5></div>
            <div class="col-md-12 my_div"><h5 class="my_title"><span class="glyphicon glyphicon-copyright-mark"></span>雷金
            </h5></div>
        </div>
        <div class="row n"></div>
    </div>
</div>
<div id="login_ti" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div style="color: black" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">提示信息</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="/static/js/now_user.js"></script>


