<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>店家位置</title>
    <link rel="stylesheet" href="/static/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/reserve_user.css">
    <script src="/static/js/jQuery3.4.1.js"></script>
    <script src="/static/bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=IrOyZBEtMNY7UR1lTlGhVFYGkl52agXb"></script>
    <script src="/static/js/settings.js"></script>
</head>
<body>
<div>
    <div id="top" class="container-fluid">
        <div class="row nav bg-primary">
            <div class="col-xs-10 nav-left my-btn">
                <div id="user">
                    <a id="index" href="reserve_user" class="select2 btn btn-primary btn-lg" type="button"
                       data-toggle="collapse"
                       data-target="#collapseExample" aria-expanded="false"
                       aria-controls="collapseExample"><span class="glyphicon glyphicon-home"></span></a>
                    <a href="reserve_cart" id="cart" class="select2 btn btn-primary btn-lg" type="button"
                       data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                       aria-controls="collapseExample">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        <span id="green_number">
    <!--                            购物车菜品数量-->
                        </span>
                    </a>
                    <a href="reserve_order" class="select2 btn btn-primary  btn-lg" type="button" data-toggle="collapse"
                       data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <span id="order_number">
    <!--                            订单数量-->
                        </span>
                    </a>
                    <a href="user" id="user_n" class="select2 btn btn-primary btn-lg col-lg-offset-5" type="button"
                       data-toggle="collapse"
                       data-target="#collapseExample" aria-expanded="false"
                       aria-controls="collapseExample"></a>
                </div>
            </div>
            <div class="col-xs-2 nav-right">
                <!--                地点-->
                <a href="site_message" style="color: gold" class="select btn btn-primary  btn-lg" type="button"
                   data-toggle="collapse"
                   data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <span class="glyphicon glyphicon-map-marker"></span>
                </a>
            </div>
            <div id="login_ti" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div style="color: black" class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">登陆信息</h4>
                        </div>
                        <div class="modal-body">
                            先登陆我们才能为您服务哦～
                            <br>
                            <p><a class="btn btn-primary btn-sm" href="reserve_user" role="button">GO！</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom">
        <div class="container-fluid">
            <div class="row" id="nrcp">
                <!--            各模块内容-->


                <div class="panel panel-default">
                    <div id="allmap" style="height: 400px" class="panel-body">
                        <!--                        地图-->
                    </div>
                    <div class="panel-footer">
                        <h5>提示信息:</h5>
                        <hr>
                        <p id="site_ti"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="/static/js/site.js"></script>
